.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.video-content {
  position: relative;
  background: #000;
  padding: 1rem;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
}

.featured-home-image,
.slideshow-image {
  display: block;
  margin: 0 auto;
  max-height: 500px; /* Cap height */
  max-width: 100%;    /* Optional cap for very wide images */
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}


.slideshow-container {
  text-align: center;
  position: relative;
}

.slideshow-caption {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #333;
}

